<h2>🎥 Bienvenidos a Movie Challenge</h2>
<p>Aquí verás la lista de películas más populares del 2025</p>

<!-- 🎯 Filtro y Búsqueda combinados -->
<div class="controls-wrapper">
  <div class="control">
    <select id="genre-select" [(ngModel)]="selectedGenreId" (change)="onGenreChange()">
      <option [ngValue]="null">🎬 Todos los géneros</option>
      <option *ngFor="let genre of genres" [ngValue]="genre.id">
        {{ genre.name }}
      </option>
    </select>
  </div>

  <div class="control">
    <div class="search-box">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
        placeholder="🔍 Buscar película..."
      />
      <button (click)="onSearch()">Buscar</button>
    </div>
  </div>
</div>




<!-- ✅ Top 10 recientes -->
<h2>🔥 Estrenos del {{ currentYear }}</h2>
<app-movie-grid [movies]="topMovies"></app-movie-grid>

<!-- 🎬 Películas filtradas o populares -->
<h2>🎬 Películas Populares</h2>
<app-movie-grid [movies]="movies"></app-movie-grid>

<!-- Opcional: Lista simple con routerLink -->
