<h2>🎥 Bienvenidos a Movie Challenge</h2>
<p>Aquí verás la lista de películas mas populares del 2025</p>

<!-- 🎨 Filtro de géneros -->
<div class="filter-container">
  <label for="genre-select">Filtrar por género:</label>
  <select id="genre-select" [(ngModel)]="selectedGenreId" (change)="onGenreChange()">
    <option [ngValue]="null">Todos</option>
    <option *ngFor="let genre of genres" [ngValue]="genre.id">
      {{ genre.name }}
    </option>
  </select>
</div>

<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (keyup.enter)="onSearch()"
    placeholder="🔍 Buscar película por nombre"
  />
  <button (click)="onSearch()">Buscar</button>
</div>

<h1>Películas Populares</h1>
<app-movie-grid [movies]="movies"></app-movie-grid>



<h2>🎬 Lista de Películas</h2>

<ul>
  <li *ngFor="let movie of movies">
    <a [routerLink]="['/movie', movie.id]">
      <strong>{{ movie.title }}</strong>
    </a>
    ({{ movie.release_date ? (movie.release_date | date:'yyyy') : 'Sin fecha' }})
  </li>
</ul>
