<!-- HEADER -->
<header class="header">
  <div class="logo">
    <img src="assets/imagenes/logo.png" alt="Logo" class="logo-img" />
    <span>MY MOVIES ROOM</span>
  </div>

  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Buscar película..."
    />
    <button (click)="searchMovie()">🔍</button>
  </div>
</header>

<!-- SLOT PARA CONTENIDO DINÁMICO -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="footer">
  <p>© 2025 Movie Challenge. Desarrollado con 💜 por Kelly.</p>
</footer>
